<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecordsDb</title>
    <link th:href="@{/styles/songs.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{ layout/page :: page}"></div>

<div class="container" style="width:60%">
    <form id="createSongForm" th:action="@{/data/songs/create}" method="get">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="name" required>

        <label for="year">Year:</label>
        <input type="number" id="year" name="year" th:value="year" required>

        <label for="musician">Musician:</label>
        <select id="musician" name="musicianId" required>
            <option th:each="musician : ${musicianlist}" th:value="${musician.id}" th:text="${musician.name}"></option>
        </select>

        <label for="genre">Genre:</label>
        <select id="genre" name="genreId" required>
            <option th:each="genre : ${genrelist}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>

        <button type="button" onclick="createSong()">Create</button>
    </form>
</div>



<!--    <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add Employee</a>-->
<table style="width:54%"
       class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Musician</th>
        <th>Genre</th>
        <th>Records</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:id="${songs.id}" th:each="songs:${songlist}">
        <td th:text="${songs.name}"></td>
        <td th:text="${songs.year}"></td>
        <td th:text="${songs.getMusician()}"></td>
        <td th:text="${songs.getGenre()}"></td>
        <td th:text="${songs.getRecords()}"></td>
        <!--            <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"-->
        <!--                    class="btn btn-primary">Update</a>-->
        <!--                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"-->
        <!--                   class="btn btn-danger">Delete</a>-->
        <!--            </td>-->
        <td>
            <button class="btn btn-danger delete-button" th:attr="data-songs-id=${songs.id}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>


<!--<div>-->
<!--    <button class="delete-btn">Delete</button>-->
<!--    <button class="change-btn">Change</button>-->
<!--</div>-->

</body>
</html>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const songId = this.getAttribute('data-songs-id');

                fetch('/data/songs/' + songId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    window.location.reload();
                });

            });
        });
    });
    function createSong() {
        // Получаем данные из формы
        var formData = new FormData(document.getElementById('createSongForm'));

        // Создаем запрос
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/data/songs/create', true);

        // Отправляем данные
        xhr.send(formData);

        // После отправки запроса перезагружаем страницу
        xhr.onload = function() {
            if (xhr.status === 200) {
                window.location.reload();
            }
        };
    }
</script>